
<div class="display-user">

  <div class="row">

    <div class="team-name card-panel col s6 " >
      <div class="card-panel">
        <h2><%= @teams.name %></h2>
      </div>
    </div>

    <div class="time card-panel col s6">
      <div class="card-panel"><h2 id="Clock"></h2></div>
    </div>

  </div>

  <div class="name_field card-panel">

  <div class="card-panel">
    <div class="row">
      <ul>
        <li class="col s3"><%= link_to "Yuuzi" ,"#",class:"btn" %></li>
        <li class="col s3"><%= link_to "Hiroya" ,"#",class:"btn" %></li>
        <li class="col s3"><%= link_to "Chihiro" ,"#",class:"btn" %></li>
        <li class="col s3"><%= link_to "Shogo" ,"#",class:"btn" %></li>
      </ul>
    </div>
  </div>
<hr>
    <div class="add_user">
      <a class="btn-floating btn-large waves-effect waves-light" href="#"><i class="fa fa-plus"></i></a>
    </div>

  </div>
</div>