<!DOCTYPE html>
<html>
<head>
  <title>ShareTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <!-- font awsome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/mini_disp' %>

<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

<script>



function setTime(num) {
  var ret;

  if(num<10){ret = "0" + num;}
  else{ret = num};

  return ret;

}
function showClock1() {
   var nowTime = new Date();
   var nowHour = setTime(nowTime.getHours());
   var nowMin = setTime(nowTime.getMinutes());
   var nowSec = setTime(nowTime.getSeconds());
   var msg = nowHour + " : " + nowMin  ;
   document.getElementById("Clock").innerHTML = msg;
}

setInterval('showClock1()',1000);


$('.modal-trigger').leanModal();
$('select').material_select();

//時計の目標時間設定
$('.input-field .setting-time').click(function(){

  //時計アニメーションのインスタンス。
  var seconds = new ProgressBar.Circle('.timer', {
    duration: 150,
    color: "#FCB03C",
    trailColor: "#ddd",
    strokeWidth:2,
  });

  //時計計算用の変数
  var gettime = document.time_form.box.value ;
  var ttime = gettime-1;
  var temptime = gettime * 60;
  var second =0;
  var minute =0;

  //00:00の表示部分の関数
  function settime(time){
    if(time<10){
      ret = "0" + time
    }else if(time==0){
      ret = "00"
    }else{
      ret = time
    }
    return ret;
  }



  timer1 = setInterval(function(){
    var disp_minute = settime(ttime - minute);
    var disp_second = settime(59-second);


    seconds.animate( (minute*60+second)/ (gettime*60), function() {
        seconds.setText(disp_minute+":"+disp_second);
    });

    second++;
    if(second>59){
      second = 0;
      minute ++;
    }
  }, 1000);

  function stop_timer (){
    clearInterval(timer1);
  };

  $('.button ul li .stop-button').click(function(){
    stop_timer();
    $('.button ul li .stop-button').addClass('restart')
  });

  $('.button ul li .restart').click(function(){
    timer1;
  });

  $('.button ul li .start-button').addClass('disabled');
});
</script>
</body>
</html>
